<%- include('template/header', { pageTitle: 'Detalle de mascota' }) %>

    <body>
        <div class="container">
            <h1>
                <%= titulo %>
            </h1>
            <% if (error) { %>
                <p><%= errorMessage %></p>
            <% } %>
            <a class="btn btn-success btn-block my-2" href="/pets">
                Volver a mascotas
            </a>

        </div>

        <%- include('template/footer') %>